body {
  font-family: 'Jura', sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: -2em;
}

img {
  height: 10em
}

.pokemon {
  display: none;
}

#poke-info {
  width: 50%;
  display: flex;
  justify-content: center;
}

#poke-search {
  width: 50%;
  display: flex;
  justify-content: center;
}

.hide {
  display: none
}

#load {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
